<form action="/blockbusters/<%= @blockbuster.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <input type='text' name='name' value="<%= @blockbuster.name %>"/><br/>
  <textarea name='city'><%= @blockbuster.city %></textarea><br/>
  <input type='submit'/>
</form>