<h1>Welcome to Blockbuster Movies</h1>

<ul>
  <li><a href="/blockbusters">Blockbuster Store Index</a></li>
  <li><a href="/blockbusters/new">New Blockbuster Store</a></li>
</ul>

<ul>
  <li><a href="/movies">Movie Index</a></li>
  <li><a href="/movies/new">New Movie</a></li>
</ul>

